body{
    text-align: center;
}
div{
    display: flex;
    justify-content: space-around;
}
button{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:40px;
    padding-right: 40px;
    border-radius: 20px;
    background-color: blue;
    color:white;
};
