body{
    text-align: center;
}
h1{
    background-color: gold;
    border-radius: 20px;
    color: black;
    padding: 10px
}
button{
    background-color: blue;
    border-radius: 20px;
    padding: 15px;
    width: 250px;
    color: white
}
button:hover{
    color: white;
    transform: scale(1.3);
    font-weight: bold;
    transition: transform 0.3s ease;
    cursor: pointer
}
input{
    border-radius: 50px;
    padding: 15px;
    margin: 20px;
    width: 300px;
}
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:20px
}
div > * { /* Essa forma de "puxar" um elemento CSS faz com que os filhos diretos de uma div sofrem estas aplicações. É muito boa de se usar justamente nesse caso, em que eu quero espaçar os elementos dentro da div. Sem ele, todos os elementos seriam movidos juntos, e não entre eles.*/
    margin: 20px
}
select{
    padding: 15px;
    width: 250px;
}

button.start{
    background-color: green;
    margin: 25px;
    padding: 30px;
}
button.stop{
    background-color: red;
    padding: 30px;
    margin: 25px;
}